/* //////////////////////////////
COLOR VARIABLES
////////////////////////////// */



$color-gold: #e1c25e;
$color-light-gold: #dbcdaa;
$color-brown: #754F44;
$color-borange: rgb(216, 104, 0);
$color-light: #FDD692;


$color-gray-dark: #333;
$color-gray-slate: slategray;
$color-gray-light: #E0E3DA;
$color-offwhite: #FFFFF7;