footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
    padding: 6rem 9rem;
    background: $color-gray-dark;

    @include respond(tab-port) {
        flex-direction: column;
        height: 66vh;
    }

    @include respond(phone) {
        height: 80vh;
    }
    

    &__navigation {

        @include respond(tab-port) {
            
        }

    }

    &__follow {

        @include respond(tab-port) {
            padding: 9rem auto;
        }
    }

    &__ask {
        @include respond(tab-port) {
            padding: 9rem auto;
        }
    }

    h3 {
        color: $color-offwhite;
        font-family: $font-para;
        font-size: 2.3rem !important;
        letter-spacing: .3rem;
        margin-bottom: 1.6rem;
    }

    ul {
        list-style-type: square;
        text-decoration: none;

        li {
            margin-bottom: 1.3rem;
            list-style-type: none;

                a {
                    text-decoration: none;
                    font-size: 1.6rem;
                    font-family: $font-display;
                    font-weight: 900;
                    color: $color-offwhite;
                    text-transform: uppercase;
                    letter-spacing: .2rem;

                    &:hover {
                        transition: .2s ease-in-out;
                        color: $color-gold;
                    }

                    .instaSvg {
                        width: 1.6rem;
                        margin-right: .6rem;
                    }
                    .gmailSvg {
                        width: 1.6rem;
                        margin-right: .6rem;
                    }
                }
            }
        }
}

.info {
    grid-column: 1 / -1;
    grid-row: 5 / 6;

    background: rgb(59, 59, 59);
    height: 8vh;
    border: none;

    display: flex;
    justify-content: space-between;
    align-items: center;  
    
    padding: 0 6rem;
    letter-spacing: .1rem;

    @include respond(phone) {
        flex-direction: column;
        height: 10rem;
        justify-content: center;
    }
    
    &__copyright {
        color: $color-gold;
        // background: green;
        text-align: center;
    }
    
    &__by {
        color: $color-gold;
        // background: green;

        a {
            text-decoration: none;
            color: $color-gold;

            &:hover {
                color: $color-offwhite;
            }
        }
    }

    .info__copyright, .info__by {
        padding: .6rem;
    }
}