.navo {
    grid-column: 1 / 7;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: none;
    width: 4rem;
    

    @media screen and (max-width: 992px) {
            display: flex;
            align-items: center;
            justify-content: center;
            grid-column: 6 / 7;
        }

    &__logo {
        display: none;
        width: 8rem;
        height: 8rem;
        // background:green;
        margin-left: 2rem;

        @include respond(phone) {
            display: none;
        }
    }
}

.navi {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 2rem;

    

    &__checkbox:checked ~ &__background {
           // transform: scale(200);
            width: 100%;
            height: 100%;
        }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    &__checkbox {
        display: none;
    }
    &__button {
        width: 4rem;
        position: fixed;
        top: 1rem;
        
        z-index: 200;
        display: flex;
        
        flex-direction: column;

        @include respond(tab-land) {
            display: none;
        }

        @include respond(tab-port) {
            display: none;
        }

        @include respond(phone) {
            display: flex;
            align-items: flex-end;
            // margin-right: -20rem;
        }

        @include respond(xs-phone) {
            // margin-right: -16rem;
        }
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &__icon {
        width: 4rem;
        height: 3px;

        background: $color-gold;
        
        margin: .3rem auto;


        &:hover {
            cursor: pointer;
        }
    }
    
    &__background {
        height: 100%;
        width: 2rem;
        position: fixed;
        top: -2rem;
        right: -2rem;
        background: $color-gray-dark !important;
        z-index: 102;
        // transform: scale(80);
        transition: all .8s;
    }
    
    &__nav {
        height: 100vh;
        width: 0%;
        position: fixed;
        background: $color-gray-dark;
        top: 0;
        right: 0;
        z-index: 150;
        opacity: 0;
        transition: opacity .8s;
    }
    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%;
        font-family: Montserrat;
    }
    &__item {
        margin: 1rem;
    }
    &__link {
        background: transparent;
        letter-spacing: 1.2px;
        

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-offwhite;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .4s;
            z-index: 100;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $color-gray-dark;
            height: 100%;
            width: 5%;
            transform: scaleY(0);
            transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s;
        }
        &:hover::before {
		transform: scaleY(1);
        // width: 100%;
        // border-radius: 3px; 
        }

        &:hover,
        &:active {
            transform: translateX(1.5rem); 
        }

        span {
            margin-right: 1rem;
            display: inline-block; 
        }
    }
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    

    box-shadow: 0px 0px 20px rgba(0,0,0, 0.25);
    // position: fixed;
    height: 8vh;

    display: flex;
    justify-content: center;
    // background: #e3ca87;
    border-bottom: 6px dashed $color-gold;
    
    @include respond(phone) {
        border-bottom: 2px dashed $color-gold;
    }

    @include respond(xs-phone) {
        
    }
    
    .logo-container {
        // grid-column: 1 / 3;
        
        display: flex;
        align-self: center;
        padding-left: 6rem;

        @include respond(xs-phone) {
            padding-left: 2rem;
        }
        

        .logo {
            width: 2.3rem; // 160px
            margin: auto;
        }
    }

    .menu-top-menu-container {
        display: flex;
        justify-content: center;
        // align-items: center;
        width: 100%;

        .navigation {
            display: flex;

            @include respond(phone) {
                display: none;
            }

            li {
                margin: auto;
                list-style-type: none;
                margin-right: 2em;
                width: 12rem;
                text-align: center;

                a {
                    text-decoration: none;

                    &:hover {
                        color: $color-gold;
                        cursor: pointer;
                        transition: .2s ease-in-out;
                    }
                }
            }
        }
    }

    .search {
        display: none;

        @media screen and (min-width: 992px) {
            display: flex;
            align-items: stretch;
            justify-content: center;
            padding-right: 4rem;

            // background: green;
            width: 40%;
            display: none;
        }

        &__field {
            // margin: auto;
            width: 60%;
            align-self: center;
            // margin-right: -5.6rem;
            // outline: none;
            border: 2px solid #e6cc68 !important;
            color: #9DBFAF;
            border-radius: 6rem;
            height: 33px;
            border: none;
            font-size: 1.6rem;
            padding: 1.2rem .8rem 1.2rem .8rem;
            transition: .2s ease-in-out;
            // -webkit-box-shadow: 0 4px 6px -6px black;
	        // -moz-box-shadow: 0 4px 6px -6px black;
	        // box-shadow: 0 4px 6px -6px black;

            &:focus {
                color: #333;
                width: 80%;
                -webkit-box-shadow: 0 6px 6px -10px black;
                -moz-box-shadow: 0 6px 6px -10px black;
                box-shadow: 0 8px 6px -10px black;
            }
        }

        &__icon {
            width: 83px;  //99
            height: 41px; //33
            // padding-left: 1em;
            margin: auto;
            // background: black;
            outline: 0;


            &:hover {
                cursor: pointer;
            }
        }

        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            outline: none;
            border: none;
            background: none;
            padding: 0 .4rem 0 .4rem;
        }
    }
}
